*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
scroll-behavior:smooth;
}
.text-white{
    color: white;
}



#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    position: r;
}

#nav{
    display: inline-block;
}

#nav,.subnav{
    list-style-type: none;
}


#nav > li{
 display: inline-block;

}

#nav li{
position: relative;

}
.nav-down{
    font-size: 12px;   
}

.search-btn,.menu-mobile-btn{
float: right;
position: absolute;

top: 0;
right: 0;
}
#header .menu-mobile-btn:hover{
   background-color: #ccc;
}

#header .menu-mobile-btn:hover .search-icon{
    color: #000;
 }

.ti-menu{
   
}

.search-btn:hover{
 background-color: #f44336;
}
 
#header .search-icon{
    color: #fff; 
    font-size: 20px;
    line-height: 46px;
    padding:0 21px;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    

}

#nav li a {   
    padding: 0 24px;
    line-height: 46px;
    display:block;
    text-decoration: none;   
}

#nav > li:hover .subnav {
    display: block;
}

#nav > li:hover > a ,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}



#nav .subnav{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a {
 color: #000;
 padding: 0 12px;
 line-height: 38px;
 
}


#slider{
margin-top: 46px;
padding-top: 50%;
background:url('../img/chicago.jpg') top center /cover no-repeat;
position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
   
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
  
}

#slider .discription{
    font-size: 15px; 
    margin-top:25px ;
    text-shadow: 0 0 1px #000;
}


#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    padding-bottom: 64px;
    text-align: justify;
   
}

.section-heading{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 4px;
}

.section-subheading{
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 15px;
    margin: 15px 0;
}
.member-list{
 margin-top: 48px;
 overflow: hidden;
}

.member-item{
    float:  left;
    width: 33.33333%;
    text-align: center;
}

.member-name{
    margin: 15px 0;
    font-size: 15px;   
}
.member-avartar{
    width: 152px;
    height: 152px;
    border-radius: 4px;
}
.clear{
    clear: both;
}

.about-text{
    line-height: 1.4;
}
.tour-selection{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    color: #666;
    margin-top: 40px;
    list-style: none;
    font-size: 15px;
}

.ticket-item{
    padding: 8px 16px;
    border-bottom: solid 1px #999;
}

.sold-out{
    padding: 0 8px;
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
}

.quantiny{
    display: inline-block;
    float: right;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-top: -2px; 
}
    
.place-list{
    padding-top: 32px;
    margin: 0 -8px;
   
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
.place-item .place-img:hover{
    opacity: .6;
}

.place-img{
    width: 100%;
    display: block;
}

.place-content{
    background-color: #fff;
    color: #000;
    padding: 15px 16px;
}

.place-heading{
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}

.place-day{
    margin: 15px 0;
    display: block;
    color: #999;
}

.place-text{
    margin: 15px 0;
    display: block;
}
.btn-pay-ticket{
    width: 108px;
    height: 38px;
    background-color: #000;   
}
.btn-pay-ticket {
    color: #fff;
    font-size: 15px; 
    text-decoration: none; 
    display: inline-block;
  
    line-height: 36px;
}
.btn-pay-ticket:hover {
    background-color: #ccc;
    outline: none;
    border: none;
    
}
.btn-pay-ticket:hover{
    color:  #000;
}

.modar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modar-open{
    display: flex;
}

.modar-container{
    width: 900px;
    
    min-height: 200px;
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 32px);
}
.modar .modar-close{
   position: absolute;
   right: 0;
   padding: 17px 16px;
   display: block;
   color: #ccc;  
}

.modar .modar-close:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modar .modar-header{
    height: 130px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
}

.modar .modar-body{
   margin: 16px;
}

.modar-label{
    display: block;
    margin: 16px 0;
}
.modar-input{
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.modar-btn-pay{
    margin: 16px 0;
    height: 56px;
    background-color: #009688;
    width: 100%;
    display: block;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    
}

.modar-btn-pay:hover{
    background-color:#ccc;
    color:  #000;

}

.modar .modar-footer{
  float: right;
  margin: 16px;
  margin-bottom: 32px;
 }

 .modar .modar-footer a{
    color:#2196F3 ;
    font-size: 15px;
 }

.modar-header-icon{
    margin-right: 16px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.contact-list{
    list-style: none;
}

.contact-item{
    font-size: 18px;
    margin: 4px;
}

.input-name-email{
    display: flex;
    margin-bottom: 8px;
}

.contact-name,
.contact-email,
.contact-message{
    padding: 8px;
    border: 1px solid #ccc;
    display: block;
    height: 41px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.contact-submit{
    float: right ;
    width: 72px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    margin: 16px 0;
}

.contact-submit:hover{
    background-color: #ccc;
    color: #000;
}

.contact-email{
    margin-left: 16px;
}

.contact-message{
    width: 100%;
}
.map-selection img {
    width: 100%;
}

#footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 64px 16px;
}

.social-list a{
   text-decoration: none;
   color: #666;
   font-size: 20px;  
}
.footer-text{
    margin:18px;
}
